/************************
*********HEADER**********
*************************/

header.header {
    background-color: #1E262B;
    min-height: 42px;
    padding: 0 20px;
    position: fixed;
    /*display: block;*/
    content: " ";
    display: table;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    left: 0;
    top: 0;
    z-index: 11;
}

    header.header p {
        color: #D8DADA;
        display: block;
        font-size: 25px;
        text-transform: uppercase;
        text-decoration: none;
        background-color: transparent;
        float: left;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
    }

    header.header div.menu {
        float: right;
        padding-right: 40px;
    }

        header.header div.menu a{
            margin-right: 15px;
            color: #D8DADA;
            top: 10px;
            display: block;
            font-size: 15px;
            text-transform: uppercase;
            text-decoration: none;
            background-color: transparent;
            float: left;
            padding: 12px 0;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0px;
            margin-bottom: 0;
            position: relative;
        }

        header.header div.menu a.current{
            color: #eceeee;
        }

/************************
*********SIDEBAR*********
*************************/

#book_info {
    background: #2b343a;
    float: left;
    width: 200px;
    height: 100%;
    padding-left: 0;
    margin-top: 0;
}

    #book_info > h4 {
        color: rgba(255,255,255,.55);
        padding-left: 15px;
        padding-bottom: 0;
        margin-top: 30px;
        margin-bottom: 3px;
    }

    #book_info > li {
        cursor: pointer;
    }

        #book_info > li > a {
            padding-top: 5px;
            padding-bottom: 1px;
            padding-left: 15px;
            display: block;
            position: relative;
            color: rgba(255,255,255,.55);
            transition-duration: .3s;
            text-decoration: none;
            vertical-align: middle;
        }


        #book_info > li > a:hover {
            color:#fff;
            background-color:rgba(255,255,255,.04);
        }

    #book_info > li.last {
        position: fixed;
        bottom: 0;
        width: 200px;
        height: 85px;
        background-color:rgba(0,0,0,.4)
    }

        #book_info > li.last > a {
            height: 100%;
            vertical-align: middle;
            font-size: 40px;
            font-weight: bold;
        }

            #book_info > li.last > a > div.text {
                margin-top: 10px;
            }

#book_info_toggle_button {
    float: left;
    height: 100%;
    padding: 0;
}

/************************
*********CONTENT*********
*************************/

body {
    background-color: rgb(34, 44, 50);
    margin: 0;
    padding: 0;
}

#sidebar {
    margin-top: 25px;
    float: left;
}

#main_section {
    display: inline-block;
    margin: 50px;
    margin-right: 0;
    height: 92%;
    width: calc(85% - 150px);
}

    #main_section_wrapper {
        display: inline-flex;
    }

    #main_section > #main_section_wrapper > #book_page {
        background-color: black;
        color: white;
        min-width: 85%;
        margin-top: 0;

        font-size: 32;
        line-height: 200%;
        height: 100%;
        writing-mode: vertical-rl;
        overflow-wrap: break-word;
    }

    #main_section > #main_section_wrapper > #definition {
        /*padding: 0;*/
        margin-left: 10px;
        padding: 10px;
        background-color: white;
        width: 200px;
    }



/************************
**********KANJI**********
*************************/

span.token:hover {
    background-color:rgba(255,255,255,.2)
}

ruby rt
{
    text-align:center;
    font-size:0.5em;
    line-height:1.5em;
    vertical-align: top;
}

rt.translation {
    text-orientation: mixed !important;
    overflow-wrap: break-word;
    height: inherit;
}
 
ruby rb
{
    text-align:center;
    display: table-row-group;
}
