#wrapper_div {
    margin-top:100px;
    overflow: hidden;
}


#page_body {
    background-color: black;
    color: white;
    /*display: flex;*/

    float:left;
    writing-mode: tb-rl;
    font-size: 32;
    line-height: 200%;
}


#token_definition {
    visibility: hidden;
}

/*
div.col {
    display: table-cell;
}*/

div.definition {
    float: left;
    padding: 0;
    margin-left: 10px;
    padding: 10px;
    background-color: white;
}


/************************
*********HEADER**********
*************************/



header.header {
    background-color: #1E262B;
    min-height: 42px;
    padding: 0 20px;
    position: fixed;
    display: block;
    content: " ";
    display: table;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    left: 0;
    top: 0;
    z-index: 11;
}

.header::after {
    clear: both;
}

header.header p {
    color: #D8DADA;
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    float: left;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}

header.header div.controls {
    float: right;
    padding-right: 40px;
    padding-bottom: 0;
    margin-bottom :0;
}
header.header div.controls a{
    margin-right: 15px;
    top: 10px;
    color: #D8DADA;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    float: left;
    padding: 12px 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0px;
    margin-bottom: 0;
    position: relative;
}

header.header div.controls a.current{
    color: #eceeee;
}

/************************
********SIDE-BAR*********
*************************/

.main-menu {
    padding-left: 0;
}

.main-menu > h4 {
    color: rgba(255,255,255,.55);
    padding-left: 15px;
    padding-bottom: 0;
    margin-bottom: 3px;
}

.main-menu > li {
    cursor: pointer;
}

.main-menu > li.active {
    background-color:rgba(0,0,0,.35);
    border-right: 2px solid rgba(100,100,255,.6);
}

.main-menu > li.last {
    position: fixed;
    bottom: 0;
    width: 200px;
    height: 85px;
    background-color:rgba(0,0,0,.4)
}

.main-menu > li.last > a {
    height: 100%;
    padding-top: 20px;
}

.main-menu > li.last > a > div.text {
    margin-left: 18%;
    vertical-align: middle;
    font-size: 40px;
    font-weight: bold;
}

.main-menu > li > a {
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 15px;
    display: block;
    position: relative;
    color: rgba(255,255,255,.55);
    transition-duration: .3s;
    text-decoration: none;
    vertical-align: middle;
}

.main-menu > li > a > i {
    position: absolute;
    left: 25px;
    font-size: 25px;
    top: 0;
    width: 25px;
    text-align: center;
    padding: 13px 0;
}

.main-menu .active>a,.main-menu a.active,.main-menu a:hover {
    color:#fff
}

.main-menu>li.active>a,.main-menu>li>a:hover {
    background-color:rgba(255,255,255,.04)
}

.page-sidebar {
    background-color: black;
    width: 200px;
    position: fixed;
    background: #2b343a;
    height: calc(100% - 40px);
    top: 44px;
    left: 0px;
    z-index: 10;
}

img .icon {
    display: inline-block;
}

.main-menu > li > a > div.text {
    display: inline-block;
    position: absolute;
    top: 18px;
    margin-left: 7px;
    font-size: 20px;
}


/************************
**********BODY***********
*************************/


body {
    background-color: rgb(34, 44, 50);
}

.generated {
    display: block;
    margin: auto;
    margin-top: 80px;
}

.content {
    padding-left: 283px;
    padding-right: 15px;
    display: block;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.block-header {
    padding: 0 22px;
    margin-bottom: 25px;
    position: relative;
}

.block-header > h2 {
    font-size: 15px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    color: #D8DADA;
}

section.instructions {
    font-size: 32px;
    color: rgba(255,255,255,.8);    
    border: 2px solid rgba(255,255,255,.06);
    padding: 5px;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
}

.overlay {
    opacity: 0;
    width: 150px;
}

.overlay .text {
    background-color: white;
    color: black;
    text-decoration: bold;
    font-size: 23px;
    /*transform: translate(30%, 30%);
    ms-transform: translate(30%, 30%);*/
}

td div.container img:hover .overlay {
    opacity: 1;
}

table.mother_chars {
   border-collapse: collapse;   
   background-color: black; 
}

table.mother_chars td{
    padding: 0;
    margin: 0;
}

table.chars {
   border-collapse: collapse;
}

table.chars td{
    padding: 0;
    margin: 0;
}

table.chars tr td:hover{
    background-color: white;
    opacity: 0.5;
    filter: brightness(150%);
    border:2px solid red;
}



/************************
*********CHAT**********
*************************/

.scrollable {
    overflow-y: scroll;
}
section.main {
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: 20%;
    display: block;
    color: white;
    position: relative;
    width: calc(100% - 200px);
    top:50px;
    left: 200px;
    height: calc(100% - 125px);
}

section.main > div.message {
    margin-left: 10px;
    margin-right: 10px;
    border-top: 2px solid rgba(255,255,255,.06);
}

section.main > div.message > p.message-date {
    color: rgba(150,150,150,.9);
    display: inline-block;
    margin-bottom: 5;
}
section.main > div.message > h3.contact-name {
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
}

section.main > div.message > p.message-content {
    font-size: 18px;
    color: rgba(255,255,255,.8);
    margin-top: 0;
}

section.entry {
    position: fixed;
    bottom: 0;
    background-color: rgb(34, 44, 50);
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 30px;
    width: calc(100% - 230px);
    left: 200px;
    height: 70px;
}

section.entry > div.separator {
    border-top: 1px groove rgba(255,255,255,.3);
}

.form-control {
    margin-top: 25px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 16px;
    line-height: 1.42857143;
    color: #D8DADA;
    display: block;
    padding-left: 10px;
    margin-right: 50px;
    width: 100%;
    height: 35px;
    background-color: rgba(255,255,255,.03);
    border: 2px solid rgba(255,255,255,.06);
    border-radius: 0;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-shadow: none !important;
    outline: 0 !important;
    box-sizing: border-box;
}


/************************
********REGISTER*********
*************************/

div.register {
    margin-top: 200px;
    color: #D8DADA;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

div.register > p.error{
    background-color: rgba(0,0,0,.2);
    color: rgba(255,0,0,.7);;
    font-size: 14px;
    text-decoration: none;
    margin-top: 30px;
    visibility: hidden;
}

div.register > button {
    margin-top: 0px;
    border: none;
    border-radius: 13px;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(0,0,0,.3);
    color: #D8DADA;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

div.register > button:hover {
    background-color: rgba(255,255,255,.2);
}

div.register > input.form-control {
    width: 30%;
    margin: 0px auto;
    margin-bottom: 15px;
    display: block;
}
